# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Excel files (input/output)
*.xlsx

# macOS system files
.DS_Store

# PyInstaller build artifacts
build/
dist/
*.spec

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/
*.iml